.more-icon {
  display: flex;
  justify-content: space-around;
}

.more-icon__bottom {
  display: flex;
  justify-content: space-around;
  margin-right: 140px;
}

.open-chat__header {
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}

.more-suggestions {
  display: flex;
  justify-content: space-around;
  margin-right: 110px;
}

.more-suggestions :first-child i {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(244, 244, 70);
  color: white;
}
.more-suggestions :nth-child(2) i {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(244, 244, 70);
  color: white;
}
.more-suggestions :nth-child(3) i {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(244, 244, 70);
  color: white;
}
