#chat-screen {
  background-color: rgb(172, 195, 237);
  height: 10000vh;
}

#status-bar {
  box-sizing: border-box;
}

.main-screen_chat {
  position: fixed;
  top: 4%;
  width: 100%;
  display: flex;
  padding: 10px 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.main-screen_chat {
  font-size: 25px;
  margin-bottom: 10px;
}

.main-screen__chevron {
  margin-right: auto;
  opacity: 0.8;
}

.main-screen__icon i {
  margin-left: 10px;
}

.main-screen__icon {
  margin-left: auto;
  opacity: 0.8;
}

.setting {
  margin-top: 110px;
  margin-left: 20px;
  font-size: 24px;
}

.setting-settings__column {
  padding: 20px 0px;
}

.setting-settings__column i {
  margin-right: 7px;
}

.setting-settings__column {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

#chat-screen .main-screen_chat,
#chat-screen .status-bar__colume {
  background-color: rgb(172, 195, 237);
}

.main-screen_chat {
  padding-top: 20px;
}

.main-chat {
  margin-top: 120px;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat_timestamp {
  color: white;
  background-color: rgb(159, 159, 159);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__author {
  opacity: 0.8;
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
}

.message__bubble {
  background-color: white;
  font-size: 18px;
  padding: 11px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: yellow;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
}

.message-row--own .message__bubble {
  order: 1;
}
.message-row--own .message__time {
  order: 0;
}

.message__time {
  margin-right: 5px;
}

#chat-screen .message__author {
  z-index: 1;
}

#chat-screen .main-screen_chat {
  z-index: 2;
}

#chat-screen .status-bar {
  z-index: 3;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  width: 100%;
  height: 35px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.reply i {
  opacity: 0.5;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}
.reply__column button {
  background-color: rgba(255, 234, 0, 0.963);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
